*{
    margin: 0px;
    padding: 0px;
    font-family: Montserrat;
}

.nav-pannel {
    width: 220px;
    height: 712px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #05014A;
}

.pannel-options {
    height: 50px;
    width: 220px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

.pannel-options i{
    margin-left: 30px;
    color: white;
}

.pannel-options li {
    list-style-type: none;
    color: white;
}

.pannel-name{
    height: 150px;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pannel-name p{
    font-size: 23px; 
    color: white;
}

.nav-logo{
    height: 100px;
    width: 100px;
}

.nav-logo img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.pannel-name h2{
    font-weight: 400;
}

.nav-pannel a{
    text-decoration: none;
}

.profile-center{
    position: relative;
    top: 2px;
    left: 222px;
    width: 1040px;
    height: 710px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-info{
    height: 650px;
    width: 550px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #caf0f8;
}

.profile-logo{
    height: 150px;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-logo img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-data{
    height: 450px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-data p{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.name{
    height: 50px;
    width: 350px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
}

.address{
    height: 50px;
    width: 350px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
}

.number{
    height: 50px;
    width: 350px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
}

.email{
    height: 50px;
    width: 350px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
}


a{
    text-decoration: none;
}

.dropbtn {
    background-color: #05014A;
    color: white;
    border: none;
    font-size: 20px;
    list-style-type: none;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}